h1{
    color: red;
    font-size: x-large;
    background-color: blue;
    text-align: center;
}
#p1{
    background-color: coral;
    font-size: 150%;
}
a{
    font-size: 14px;
    text-decoration: none;
    color: darkblue;
}
#p2{
    direction: ltr;
}