#section{
    background-image: url("../img/article.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section{
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top: -4rem;
}
.counter{
    font-family: "yekanf";
    text-align: center;
    padding: 4.3rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    float: right;
    color: white;
    cursor: default;
}
.counter:first-child{
    background-image: linear-gradient(to bottom right,#cd47ef,#ef476f);
}
.counter:nth-child(2){
    background-image: linear-gradient(to bottom right,#007eff,#00d8ff);
    margin: 0 3rem;
}
.counter:last-child{
    background-image: linear-gradient(to bottom right,#70ea6e,#beee62);
}
.counter p{
    font-size: 1.2rem;
    margin-top: 1rem;
}