header {
  text-align: center;
}
header > div {
  padding: 2rem 0;
}
header h1 {
  margin: 0.6rem 0;
}
.tag {
  background-color: black;
  color: white;
  padding: 0 0.5rem;
}
.card {
  margin: 1rem;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.card img {
  width: 100%;
}
.card-head,
.card-body {
  padding: 0.01em 1rem;
}
.card-head h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}
.card-head h5 {
  margin: 10px 0;
  font-size: 1.1rem;
}
.opacity {
  opacity: 0.6;
}
.card-body p {
  line-height: 1.4;
}
.card-body > div {
  margin: 0.6rem 0;
}
.card-body a {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: black;
  text-decoration: none;
  display: inline-block;
}
div.d-s-none {
  line-height: 1.8;
  font-size: 1.3rem;
}
div.d-s-none span {
  margin-left: 0.3rem;
}
.popular-head {
  background-color: grey;
  padding: 1rem;
}
.popular h4 {
  margin: 0.2rem;
  font-size: 1.2rem;
  color: aliceblue;
  font-weight: bold;
}
.popular-body {
  padding: 0.5rem 1rem;
}
.popular ul {
  list-style-type: none;
  padding: 0;
}
.popular li {
  display: flex;
  padding: 1rem 0;
}
.popular img {
  width: 50px;
  margin-right: 1rem;
}
.popular-body div {
  line-height: 1.3;
}
.popular-body div > span:nth-child(1) {
  font-size: 1.3rem;
}
.d-s-none {
  display: none;
}
@media screen and (min-width: 768px) {
  .d-md-auto {
    display: initial;
  }
}
